/***************TAG SELECTORS*************/

body {
    background-color: rgb(160, 161, 144);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    width: 10%;
    border-color: papayawhip;
}

h1 {
    font-style: italic;
    color: rgb(202, 228, 210);
}

h3 {
    font-style: italic;
    color: rgb(202, 228, 210);
    ;
}

/***************CLASS-SELECTORS*************/

.profile-pic {
    border-radius: 50%;
    background-color: green;       
}


/***************ID-SELECTORSS*************/

#heading {
    color: rgb(233, 223, 203);
    font-style: italic;
    font-family: cursive;
}