
body {
    
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    font-size: 5.625rem; 
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    padding-top: 100px;
    background-color: #E4F9F5;
}

.middle-container {

}

.bottom-container {
    color: #11999E;
}

.profilePic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.programmingImg {
    border-radius: 50%;
    height: 200px;
    width: 500px;
}

.cpp_img {
    border-radius: 50%;
    height: 200px;
    width: 500px;
}

.pro {
    
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 100px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    top:300px;
}